@{
    ViewBag.Title = "Listado de Libros";
}

<div class="jumbotron">
    <h1>LIBRERIA ONLINE</h1>
    <p class="lead">Donde usted elige y llega a su casa.</p>
    <div>
        @Html.ActionLink("Por Aca", "Listado", "Home") &raquo;
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Si es la primera vez:</h2>
        <p>
            Lo unico que tiene que hacer es elegir tocando el boton de compra en el listado de libros!
        </p>

    </div>
    <div class="col-md-4">
        <h2>Si quiere realizar algun pedido en especial que no tenemos:</h2>
        <p>
            Puede escribirnos y responderemos en breve a la dirección :
            <address>
                <strong>Email:</strong>   <a href="mailto:Diegosheiksantos@gmail.com">Diegosheiksantos@gmail.com</a><br />
            </address>
        </p>

    </div>

</div>